:root .theme_dark {
  --accent-color: #ff0070;
  --main-title-color: #DB00FF;
  --text-color: #F1B2CE;
  --title-color:#000028;
  --title-no-background-color: var(--accent-color);
  --outline-button-transparent: rgb(255,0,112, 0.4);
  --button-text-color:var(--accent-color);
  --decore-display: flex;
  --main-background-image: url('../images/cover-image-dark.png');
  --decoration-color:  #ff0070;
}