.page {
  display: flex;
  flex-direction: column;
  background-image: var(--main-background-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  gap: 60px;
}

@media (width <= 425px) {
  .page {
      gap: 40px;
  }
}

.header {
  position: relative;
  height: 100vh;
  min-height: 668px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding: 20px;
}

@media (width <= 425px) {
  .header {
      padding: 10px;
  }
}

.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: transparent;
  border-bottom: 1px solid var(--decoration-color);
  border-left: 1px solid var(--decoration-color);
  bottom: 20px;
  left: 20px;
}

@media (width <= 425px) {
  .decorated-zone::after {
      bottom: 10px;
      left: 10px;
  }
}

.decorated-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: transparent;
  border-top: 1px solid var(--decoration-color);
  border-right: 1px solid var(--decoration-color);
  margin-left: auto;
  top: 20px;
  right: 20px;
}

@media (width <= 425px) {
  .decorated-zone::before {
      top: 10px;
      right: 10px;
  }
}

@media (width <= 768px) {
  .header__theme-menu {
      display: flex;
      justify-content: flex-end;
      align-items: center;
  }
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

@media (width <= 768px) {
  .header__theme-menu-list {
      flex-direction: column;
  }
}

.header__theme-menu-button {
  font-size: var(--main-font-size);
  font-weight: 400;
  line-height: 18px;
  padding: 0 13px 5px 13px;
  color: var(--button-text-color);
  text-align: center;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-text-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--outline-button-transparent);
}
.header__theme-menu-button_active {
  outline: 1px solid var(--button-text-color);
  pointer-events: none;
}

.decore {
  display: var(--decore-display);
  align-items: center;
  gap: 10px;
  position: absolute;
  right: 30px;
  top: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: var(--accent-color);
}

@media (width <= 425px) {
  .decore {
      right: 20px;
      top: 10px;
  }
}

.decore::after {
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0px 0px 4px 2px var(--accent-color);
}

.header__title {
  font-weight: 700;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 0.8em;
  text-shadow: 4px 4px 0 var(--accent-color);
  margin-left: -20px;
  color: var(--main-title-color);
}

@media (width <= 425px) {
  .header__title {
      font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
      margin-left: 0;
  }
}

.header__description {
  width: 50%;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  justify-self: end;
  align-self: center;
}

@media (width <= 768px) {
  .header__description {
      padding-right: 50px;
  }
}

@media (width <= 425px) {
  .header__description {
      width: 100%;
  }
}

.header__description-paragraph {
  color: var(--title-color);
}

.content {
  display: grid;
  gap: 80px;
  padding: 0 20px;
}

@media (width <= 425px) {
  .content {
      gap: 50px;
      padding: 0 10px;
  }
}

.content__block {
  display: grid;
  gap: 20px;
}

@media (width <= 425px) {
  .content__block {
      gap: 10px;
  }
}

.block-row {
  grid-template-columns: minmax(236px, 315px) minmax(472px, 1fr);
  gap: 20px;
}

@media (width < 768px) {
  .block-row {
      grid-template-columns: minmax(min-content, 236px) minmax(min-content, 472px);
  }
}

@media (width <= 425px) {
  .block-row {
      display: flex;
      flex-direction: column;
  }
}

.block-column {
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media (width <= 768px) {
  .block-column {
      display: flex;
      flex-direction: column;
  }
}

.link {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}

.link:hover {
  border-bottom: 1px solid var(--text-color);
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid var(--text-color);
  outline-offset: -1px;
}

.content__title-question {
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--title-no-background-color);
}

.content__title-answer {
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--title-color);
}

.content__text-answer {
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--text-color);
  padding-top: 10px;
}

.content__text-answer:not(:last-of-type) {
  padding-bottom: 20px;
}

.title-column {
  grid-column: 1/-1;
  width: 315px;
}

@media (width <= 768px) {
  .title-column {
      width: 236px;
  }
}

@media (width <= 425px) {
  .title-column {
      width: 355px;
  }
}

.title-font-normal {
  font-weight: 400;
}

.title-font-normal:first-of-type {
  margin-top: 20px;
}

.gallery_image {
  display: grid;
  grid-template-columns: repeat(1fr);
  grid-auto-rows: min-content;
  grid-auto-flow: row dense;
  gap: 20px;
}

@media (width <= 768px) {
  .gallery_image {
      grid-template-columns: minmax(100px, 230px) minmax(100px, 230px) minmax(100px, 230px);
  }
}

@media (width <= 425px) {
  .gallery_image {
      display: flex;
      flex-direction: column;
      gap: 10px;
  }
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.gallery_image > .img:nth-child(1) {
  grid-column: span 2;
}

.gallery_image > .img:nth-child(2) {
  grid-row: 1/3;
}

.gallery_image > .img:nth-child(3) {
  grid-column: 1;
  grid-row: 2/4;
}

.gallery_image > .img:nth-child(4) {
  grid-column: 2;
  grid-row: 2;
}

.gallery_image > .img:nth-child(5) {
  grid-column: span 2;
}

.footer {
  display: grid;
  position: relative;
  height: 100vh;
  min-height: 668px;
}

.footer__title {
  font-weight: 700;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 0.8em;
  text-shadow: 2px 2px 0 var(--accent-color);
  color: var(--main-title-color);
  justify-self: center;
  align-self: center;
}

@media (width <= 425px) {
  .footer__title {
      font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}